
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.dev
/.idea/*
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/.idea/workspace.xml
*.DS_Store*
*/.DS_Store*
.DS_Store
php.ini
/data/*/*.jpg
/data/*/*.jpeg
/data/*/*.svg
/data/*/*.png
/data/*/*/*.jpg
/data/*/*/*.jpeg
/data/*/*/*.svg
/data/*/*/*.png
.idea
