<span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-green-600/20 ring-inset dark:bg-green-900/30 dark:text-green-400 dark:ring-green-500/50">green</span>
<span class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-700 ring-1 ring-yellow-600/20 ring-inset dark:bg-yellow-900/30 dark:text-yellow-400 dark:ring-yellow-500/50">yellow</span>
<span class="inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-red-600/20 ring-inset dark:bg-red-900/30 dark:text-red-400 dark:ring-red-500/50">red</span>
<div class="border-red-600 dark:border-red-400"></div>
<div class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6 dark:bg-white/5 dark:text-white dark:outline-white/10 dark:*:bg-gray-800 dark:focus:outline-green-700 ease-in-out">Regular Dropdown</div>
<div class="col-start-1 row-start-1 w-full appearance-none rounded-md  py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 focus:outline-2 focus:-outline-offset-2 focus:outline-green-800 sm:text-sm/6  dark:text-white dark:focus:outline-green-700 ring-3 ring-green-600/20 bg-green-50 outline-green-600/20 animate-pulse">Hightlight Flash Dropdown</div>
<div class="block px-3 py-2 text-gray-900 select-none hover:bg-green-800 aria-selected:text-white dark:text-white dark:hover:bg-green-700">Autocomplete</div>
<span class="truncate">Autocomplete</span>
<div class="flex justify-between">Autocomplete</div>
<span class="ml-2 truncate text-gray-300 hover:text-white dark:text-gray-200 dark:hover:text-white">Autocomplete</span>
